<div class="container">
    <div class="row mb-3">
        <div class="col-sm-12 col-md-3 ml-auto text-right">
            <button type="button" class="btn btn-primary " (click)="openModal()">Add Manager</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12 col-md-4">
            <label for="exampleFormControlInput1" class="form-label"><strong>Sort</strong></label>
            <select [(ngModel)]="selectedItem" class="custom-select" (change)="onSortSelected($event.target.value)"
                id="exampleFormControlInput1">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">
                    {{sort.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-12 col-md-4">
            <label for="searchByFirstName1" class="form-label"><strong>Filter </strong></label>
            <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #searchByFirstName
                placeholder="Search By FirstName" id="searchByFirstName1">
        </div>
        <div class="col-sm-12 col-md-4">
            <label for="searchByLastName1" class="form-label"><strong>Filter</strong></label>
            <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #searchByLastName
                placeholder="Search By LastName" id="searchByLastName1" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12 col-md-3">
            <div class="row">
                <div class="col-12">
                    <label for="startDate" class="form-label"><strong>Start Date</strong></label>
                    <input type="text" placeholder="Datepicker" class="form-control" #registeredFrom bsDatepicker
                        id="startDate">
                </div>
                <div class="col-12 mt-3 mb-3">
                    <label for="endDate" class="form-label"><strong>End Date</strong></label>
                    <input type="text" placeholder="Datepicker" class="form-control" #registeredTo bsDatepicker
                        id="endDate">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2"><strong>WorkedOut</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #workedOutFrom
                                placeholder="From" />
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #workedOutTo
                                placeholder="To" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="mb-2"><strong>ReferalsWorkedOut</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2"
                                #referalsWorkedOutFrom placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2"
                                #referalsWorkedOutTo placeholder="To">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2"><strong>SoldItemsNumber</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2"
                                #soldItemNumberFrom placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #soldItemNumberTo
                                placeholder="To">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <p class="mb-2"><strong>SoldItemsPrice</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2"
                                #soldItemPriceFrom placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #soldItemPriceTo
                                placeholder="To">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2"><strong>Total</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #totalFrom
                                placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #totalTo
                                placeholder="To">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-4">
        <div class="col">

            <div class="d-flex justify-content-between align-items-center">
                <div class="">
                    <app-paging-header [totalCount]="totalCount" [pageSize]="this.managerParams.pageSize"
                    [pageNumber]="this.managerParams.pageNumber"></app-paging-header>
                </div>
                
                <div class="">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button type="reset" (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Registration Date</th>
                    <th>SoldItemsNumber</th>
                    <th>SoldItemsPrice</th>
                    <th>WorkedOut</th>
                    <th>Referals</th>
                    <th>Total</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tr *ngFor="let manager of managers">
                <td>{{manager.firstName}}</td>
                <td>{{manager.lastName}}</td>
                <td>{{manager.registrationDate | date}}</td>
                <td>{{manager.soldItemsNumber}}</td>
                <td>{{manager.soldItemsPrice}}</td>
                <td>{{manager.workedOut}}</td>
                <td>{{manager.referalsWorkedOut}}</td>
                <td>{{manager.total}}</td>
                <td>
                    <button type="button" [disabled]="currentManagerId !== manager.upManagerId"
                        class="btn btn-light mr-1 fa fas fa-edit" (click)="openEditModal(manager.id)">Edit</button>
                    <button type="button" [disabled]="currentManagerId !== manager.upManagerId"
                        (click)="deleteManager(manager.id)" class="btn btn-light mr-1 fa fas fa-trash">
                        Delete
                    </button>
                </td>
            </tr>
        </table>

    </div>
    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">

        <app-pager [pageSize]="managerParams.pageSize" [totalCount]="totalCount" (pageChanged)="onPageChanged($event)">
        </app-pager>

    </div>

</div>