<div class="container mt-5">
    <h4>InternalServerError</h4>
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</div>