<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-sm-12 col-md-3 ml-auto text-right">
            <button type="button" class="btn btn-primary float-right" (click)="openModal()">Add Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="sortingData" class="form-label"><strong>Sort By:</strong></label>
            <select [(ngModel)]="selectedItem" class="custom-select" (change)="onSortSelected($event.target.value)"
                id="sortingData">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">
                    {{sort.name}} 
                </option>
            </select>
        </div>
        <div class="col-4">
            <label for="searchingData" class="form-label"><strong>Search By Name:</strong></label>
            <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2 " #search placeholder="Search"
                id="searchingData">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2"><strong>Range</strong></p>
                    <div class="form-group row mt-2">
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #priceFrom
                                placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <input (keyup.enter)="onSearch()" type="number" class="form-control mr-2" #priceTo
                                placeholder="To">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <app-paging-header [totalCount]="totalCount" [pageSize]="this.productParams.pageSize"
                [pageNumber]="this.productParams.pageNumber"></app-paging-header>
                </div>
                <div>
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button type="reset" (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Options</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price | currency}}</td>
                <td>
                    <button type="button" [disabled]="currentManagerId !== product.managerId" class="btn btn-light mr-1 fa fas fa-edit" (click)="openEditModal(product)">
                        Edit
                    </button>
                    <button type="button" [disabled]="currentManagerId !== product.managerId" (click)="deleteProduct(product.id)"
                        class="btn btn-light mr-1 fa fas fa-trash">
                        Delete
                    </button>
                </td>
                <td>
                    <button type="button" (click)="openSellModal(product)" class="btn btn-light mr-1 fa fas fa-magic">
                        Sell
                    </button>
                </td>
            </tr>
        </table>

    </div>
    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">

        <app-pager [pageSize]="productParams.pageSize" [totalCount]="totalCount" (pageChanged)="onPageChanged($event)">
        </app-pager>

    </div>

</div>