<ngx-spinner>
    <h3>Loading...</h3>
</ngx-spinner>
<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 140px;">
    <h1 class="d-flex justify-content-center">SALES MANAGERS SYSTEM</h1>
    
    <h5 class="d-flex justify-content-center">test task for DGA</h5>
    <router-outlet></router-outlet>
</div>