<div class="modal-header">
    <h4 class="modal-title pull-left" id="my-modal-title">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="itemform" (ngSubmit)="sellProduct(itemform)">
        <h3>{{data.name}}</h3>
        <app-text-input formControlName="quantity"  [type]="'number'" [label]="'Quantity'"></app-text-input>

        <button type="button" class="btn btn-default" type="submit" >Submit</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{closeBtnName}}</button>
      </form>
      
  </div>