<div class="modal-header">
    <h4 class="modal-title pull-left" id="my-modal-title">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editForm" (ngSubmit)="editManager(editForm)">

        <app-text-input formControlName="firstName" [label]="'Firstname'"></app-text-input>
        <app-text-input formControlName="lastName" [label]="'Lastname'"></app-text-input>
       
        <button [disabled]="editForm.invalid" type="button" class="btn btn-primary" type="submit" >Edit</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">{{closeBtnName}}</button>
      </form>
      
  </div>