<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between j p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <div>
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" routerLink="/">SalesManagerSystem</a>
        </h5>
    </div>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2 " [routerLink]="['/products']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Products</a>
        <a class="p-2 " routerLink="/managers" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Managers</a>
    </nav>
    <div class="d-flex align-items-center">
        <ng-container *ngIf="(currentUser$ | async) === null">
            <a routerLink="/account/login" class="btn btn-outline-secondary mr-2">Login</a>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
            <div class="dropdown ml-3 mr-5" dropdown>
                <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                    <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
                    <a routerLink="/products" class="dropdown-item d-flex align-items-center py-2">
                        <i class="fa fa-list mr-3"></i> View Products
                    </a>
                    <div class="dropdown-divider"></div>
                    <a routerLink="/managers" class="dropdown-item d-flex align-items-center py-2">
                        <i class="fa fa-clipboard mr-3"></i> View Managers
                    </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                        <i class="fa fa-sign-out mr-3"></i> Logout
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</div>