<div class="modal-header">
    <h4 class="modal-title pull-left" id="my-modal-title">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="createManager(registerForm)">

        <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
        <app-text-input formControlName="firstName" [label]="'Firstname'"></app-text-input>
        <app-text-input formControlName="lastName" [label]="'Lastname'"></app-text-input>
        <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

        <button type="button" class="btn btn-default" type="submit" >Register</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{closeBtnName}}</button>
      </form>
      
  </div>